In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model # type: ignore
import pickle
import numpy as np
import pandas as pd

In [2]:
### Load the trained model, scaler pickle and onehot encodeing pickle
model = load_model('regression_model.h5')

## load the encoder and scaler
with open('rlabel_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('ronehot_encoder_geo.pkl', 'rb') as file:
    label_encoder_geo = pickle.load(file)

with open('rscaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
input_data = {
  "CreditScore": 850,
  "Gender": "Male",
  "Age": 30,
  "Tenure": 2,
  "Balance": 141040.01,
  "NumOfProducts": 1,
  "HasCrCard": 1,
  "IsActiveMember": 1,
  "Geography": "Spain",
  "Exited":0
}

In [4]:
#Implementing one hot encoding for the geography column
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns = label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

/Users/ankitpokhrel/Downloads/All projects/Churn_ANN/myenv/lib/python3.12/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                0.0              1.0

In [5]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Geography,Exited
0,850,Male,30,2,141040.01,1,1,1,Spain,0

In [6]:
#Now we will drop the original geography column and add the encoded columns
input_df = input_df.drop(columns = ['Geography'])
input_df = pd.concat([input_df,geo_encoded_df],axis = 1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,850,Male,30,2,141040.01,1,1,1,0,0.0,0.0,1.0

In [7]:
#Now let's encode the Gender and replace the encoded value in gender
input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,850,1,30,2,141040.01,1,1,1,0,0.0,0.0,1.0

In [8]:
### Scaling the input data
input_data_scaled = scaler.transform(input_df)
input_data_scaled

array([[ 2.0584476 ,  0.91324755, -0.84593077, -1.04241787,  1.03971956,
        -0.91668767,  0.64920267,  0.97481699, -0.50857963, -0.99850112,
        -0.57946723,  1.73494238]])

In [9]:
### PREDICTION ###
prediction = model.predict(input_data_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step

array([[661.256]], dtype=float32)

In [10]:
print(prediction)

[[661.256]]

In [11]:
  #"EstimatedSalary": 5978.2,