In [1]:
import pandas as pd
#train_test_split is a function from the sklearn.model_selection module in Scikit-learn. It is used to split a dataset into two (or more) subsets: training data and testing data.
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
data = pd.read_csv("../Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [5]:
# Onehot encode 'Geography
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [6]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [7]:
geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [8]:
## Combine one hot encoder columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
## DiVide the dataset into indepent and dependent features
#So I will just try to go ahead and divide my data set into independent and dependent features.
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [10]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [11]:
# Save the encoders and sscaler
# Pickle is used in Python to save and load complex objects like machine learning models, 
# dictionaries, or nested data structures, preserving their exact structure and details 
# for later use. Unlike CSV, which is limited to simple tabular data (text and numbers), 
# Pickle handles Python-specific objects efficiently by serializing them into a binary format.
#  It’s ideal for reusing trained models, avoiding repetitive computations, and sharing objects within 
# Python projects. Use Pickle for Python objects and CSV for plain, human-readable tabular data.
with open('rlabel_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('ronehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('rscaler.pkl','wb') as file:
    pickle.dump(scaler,file)

###   ANN with regression problem statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential # type: ignore
from tensorflow.keras.layers import Dense# type: ignore
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard # type: ignore
import datetime

In [13]:
#This will give us the inputs column required for the input_shape 
# parameter in the first layer of the neural network.
(X_train.shape[1],) # type: ignore

(12,)

In [14]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 Connected wwith input layer
    Dense(32,activation='sigmoid'), ## HL2
    Dense(1)  ## The linear activation function will activated if no activation function is specified
]
)

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

/Users/ankitpokhrel/Downloads/All projects/Churn_ANN/myenv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard # type: ignore
log_dir="regression/logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [16]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=100,restore_best_weights=True)

In [17]:
### Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 954us/step - loss: 99784.8906 - mae: 99784.8906 - val_loss: 98715.5859 - val_mae: 98715.5859
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 648us/step - loss: 99971.2188 - mae: 99971.2188 - val_loss: 98709.0391 - val_mae: 98709.0391
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 651us/step - loss: 101390.7812 - mae: 101390.7812 - val_loss: 98702.3750 - val_mae: 98702.3750
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 618us/step - loss: 100065.8828 - mae: 100065.8828 - val_loss: 98696.0547 - val_mae: 98696.0547
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 618us/step - loss: 100760.8125 - mae: 100760.8125 - val_loss: 98689.3047 - val_mae: 98689.3047
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 867us/step - loss: 99353.9688 - mae: 99353.9688 - val_loss: 98682.6641 - val_mae: 98682.6641
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 579us/step - loss: 100487.3125 - mae: 100487.3125 - val_loss: 98676.2109 - val_mae: 98676.2109
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 667us/step - loss: 99769.4531 - mae: 99769.4531 - val_loss: 98669.8516 - val_mae: 98669.8516
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 610us/step - loss: 100265.8125 - mae: 100265.8125 - val_loss: 98663.5078 - val_mae: 98663.5078
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 865us/step - loss: 100385.8359 - mae: 100385.8359 - val_loss: 98657.1719 - val_mae: 98657.1719
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 621us/step - loss: 99486.0781 - mae: 99486.0781 - val_loss: 98650.8906 - val_mae: 98650.8906
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 606us/step - loss: 100361.0078 - mae: 100361.0078 - val_loss: 98644.6172 - val_mae: 98644.6172
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 800us/step - loss: 100898.7812 - mae: 100898.7812 - val_loss: 98638.3281 - val_mae: 98638.3281
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 644us/step - loss: 99907.4453 - mae: 99907.4453 - val_loss: 98632.0547 - val_mae: 98632.0547
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 635us/step - loss: 99851.5000 - mae: 99851.5000 - val_loss: 98625.7969 - val_mae: 98625.7969
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 667us/step - loss: 100540.3594 - mae: 100540.3594 - val_loss: 98619.5547 - val_mae: 98619.5547
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 659us/step - loss: 100250.3047 - mae: 100250.3047 - val_loss: 98613.2969 - val_mae: 98613.2969
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 652us/step - loss: 100294.4141 - mae: 100294.4141 - val_loss: 98607.0469 - val_mae: 98607.0469
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 623us/step - loss: 100002.8047 - mae: 100002.8047 - val_loss: 98600.7969 - val_mae: 98600.7969
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 626us/step - loss: 100253.7812 - mae: 100253.7812 - val_loss: 98594.5703 - val_mae: 98594.5703
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 631us/step - loss: 99622.6641 - mae: 99622.6641 - val_loss: 98588.3125 - val_mae: 98588.3125
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 636us/step - loss: 100290.7344 - mae: 100290.7344 - val_loss: 98582.0781 - val_mae: 98582.0781
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 601us/step - loss: 99612.8828 - mae: 99612.8828 - val_loss: 98575.8516 - val_mae: 98575.8516
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 581us/step - loss: 100809.2422 - mae: 100809.2422 - val_loss: 98569.6406 - val_mae: 98569.6406
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 575us/step - loss: 100497.3203 - mae: 100497.3203 - val_loss: 98563.3984 - val_mae: 98563.3984
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 573us/step - loss: 100640.4219 - mae: 100640.4219 - val_loss: 98557.1953 - val_mae: 98557.1953
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 570us/step - loss: 99820.8672 - mae: 99820.8672 - val_loss: 98550.9453 - val_mae: 98550.9453
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 562us/step - loss: 101437.1094 - mae: 101437.1094 - val_loss: 98544.7344 - val_mae: 98544.7344
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 566us/step - loss: 99664.2656 - mae: 99664.2656 - val_loss: 98538.5078 - val_mae: 98538.5078
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 575us/step - loss: 99901.0078 - mae: 99901.0078 - val_loss: 98532.2891 - val_mae: 98532.2891
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - loss: 100946.7500 - mae: 100946.7500 - val_loss: 98526.0469 - val_mae: 98526.0469
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 570us/step - loss: 99954.2109 - mae: 99954.2109 - val_loss: 98519.8281 - val_mae: 98519.8281
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 571us/step - loss: 99784.2656 - mae: 99784.2656 - val_loss: 98513.6016 - val_mae: 98513.6016
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 574us/step - loss: 100854.0391 - mae: 100854.0391 - val_loss: 98507.3906 - val_mae: 98507.3906
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 571us/step - loss: 99305.8750 - mae: 99305.8750 - val_loss: 98501.1484 - val_mae: 98501.1484
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 568us/step - loss: 99903.8438 - mae: 99903.8438 - val_loss: 98494.9453 - val_mae: 98494.9453
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 731us/step - loss: 100466.4453 - mae: 100466.4453 - val_loss: 98488.7188 - val_mae: 98488.7188
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 566us/step - loss: 100542.5391 - mae: 100542.5391 - val_loss: 98482.4922 - val_mae: 98482.4922
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 570us/step - loss: 99734.0781 - mae: 99734.0781 - val_loss: 98476.2656 - val_mae: 98476.2656
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 586us/step - loss: 100051.4844 - mae: 100051.4844 - val_loss: 98470.0547 - val_mae: 98470.0547
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 586us/step - loss: 99531.6172 - mae: 99531.6172 - val_loss: 98463.8281 - val_mae: 98463.8281
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 590us/step - loss: 100002.6562 - mae: 100002.6562 - val_loss: 98457.6094 - val_mae: 98457.6094
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - loss: 101503.2422 - mae: 101503.2422 - val_loss: 98451.3750 - val_mae: 98451.3750
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 585us/step - loss: 100911.3672 - mae: 100911.3672 - val_loss: 98445.1562 - val_mae: 98445.1562
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 581us/step - loss: 100302.0859 - mae: 100302.0859 - val_loss: 98438.9453 - val_mae: 98438.9453
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 588us/step - loss: 99921.4141 - mae: 99921.4141 - val_loss: 98432.7031 - val_mae: 98432.7031
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - loss: 100344.3984 - mae: 100344.3984 - val_loss: 98426.4844 - val_mae: 98426.4844
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 583us/step - loss: 100570.0156 - mae: 100570.0156 - val_loss: 98420.2734 - val_mae: 98420.2734
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 581us/step - loss: 101054.4141 - mae: 101054.4141 - val_loss: 98414.0547 - val_mae: 98414.0547
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 568us/step - loss: 100787.2891 - mae: 100787.2891 - val_loss: 98407.7969 - val_mae: 98407.7969
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 952us/step - loss: 99895.2422 - mae: 99895.2422 - val_loss: 98401.6016 - val_mae: 98401.6016
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 576us/step - loss: 100669.2969 - mae: 100669.2969 - val_loss: 98395.3672 - val_mae: 98395.3672
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 574us/step - loss: 100138.1172 - mae: 100138.1172 - val_loss: 98389.1484 - val_mae: 98389.1484
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 571us/step - loss: 99980.1797 - mae: 99980.1797 - val_loss: 98382.9141 - val_mae: 98382.9141
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 582us/step - loss: 101123.8047 - mae: 101123.8047 - val_loss: 98376.7031 - val_mae: 98376.7031
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - loss: 100507.3906 - mae: 100507.3906 - val_loss: 98370.4766 - val_mae: 98370.4766
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 571us/step - loss: 100256.0469 - mae: 100256.0469 - val_loss: 98363.8750 - val_mae: 98363.8750
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 642us/step - loss: 99569.8047 - mae: 99569.8047 - val_loss: 98356.8906 - val_mae: 98356.8906
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 666us/step - loss: 99638.6875 - mae: 99638.6875 - val_loss: 98350.2266 - val_mae: 98350.2266
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 633us/step - loss: 101250.7422 - mae: 101250.7422 - val_loss: 98343.6875 - val_mae: 98343.6875
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 638us/step - loss: 98706.7500 - mae: 98706.7500 - val_loss: 98336.0859 - val_mae: 98336.0859
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 624us/step - loss: 100624.5781 - mae: 100624.5781 - val_loss: 98329.0859 - val_mae: 98329.0859
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 602us/step - loss: 98822.3594 - mae: 98822.3594 - val_loss: 98322.1953 - val_mae: 98322.1953
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 619us/step - loss: 100092.7500 - mae: 100092.7500 - val_loss: 98315.3594 - val_mae: 98315.3594
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 613us/step - loss: 99724.7656 - mae: 99724.7656 - val_loss: 98308.5781 - val_mae: 98308.5781
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 580us/step - loss: 100115.3984 - mae: 100115.3984 - val_loss: 98301.7891 - val_mae: 98301.7891
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 580us/step - loss: 98512.0078 - mae: 98512.0078 - val_loss: 98295.0469 - val_mae: 98295.0469
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 609us/step - loss: 99594.0156 - mae: 99594.0156 - val_loss: 98288.2891 - val_mae: 98288.2891
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 579us/step - loss: 100140.6406 - mae: 100140.6406 - val_loss: 98281.5625 - val_mae: 98281.5625
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - loss: 99453.7734 - mae: 99453.7734 - val_loss: 98274.8125 - val_mae: 98274.8125
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 624us/step - loss: 99863.5234 - mae: 99863.5234 - val_loss: 98268.0781 - val_mae: 98268.0781
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 592us/step - loss: 100335.0703 - mae: 100335.0703 - val_loss: 98261.3672 - val_mae: 98261.3672
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 580us/step - loss: 100451.8984 - mae: 100451.8984 - val_loss: 98254.6406 - val_mae: 98254.6406
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 586us/step - loss: 100372.8203 - mae: 100372.8203 - val_loss: 98247.9141 - val_mae: 98247.9141
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 576us/step - loss: 100086.5938 - mae: 100086.5938 - val_loss: 98241.2109 - val_mae: 98241.2109
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 585us/step - loss: 100243.7578 - mae: 100243.7578 - val_loss: 98234.4766 - val_mae: 98234.4766
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 610us/step - loss: 100000.8594 - mae: 100000.8594 - val_loss: 98227.7656 - val_mae: 98227.7656
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 792us/step - loss: 99887.4688 - mae: 99887.4688 - val_loss: 98221.0547 - val_mae: 98221.0547
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 629us/step - loss: 99706.4453 - mae: 99706.4453 - val_loss: 98214.3438 - val_mae: 98214.3438
Epoch 80/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 652us/step - loss: 99750.8047 - mae: 99750.8047 - val_loss: 98207.6250 - val_mae: 98207.6250
Epoch 81/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 631us/step - loss: 99482.2188 - mae: 99482.2188 - val_loss: 98200.9297 - val_mae: 98200.9297
Epoch 82/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 580us/step - loss: 98738.1797 - mae: 98738.1797 - val_loss: 98194.2031 - val_mae: 98194.2031
Epoch 83/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 582us/step - loss: 100040.7500 - mae: 100040.7500 - val_loss: 98187.4844 - val_mae: 98187.4844
Epoch 84/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 579us/step - loss: 100236.7422 - mae: 100236.7422 - val_loss: 98180.7656 - val_mae: 98180.7656
Epoch 85/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 589us/step - loss: 99925.9141 - mae: 99925.9141 - val_loss: 98174.0703 - val_mae: 98174.0703
Epoch 86/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 590us/step - loss: 100838.0938 - mae: 100838.0938 - val_loss: 98167.3594 - val_mae: 98167.3594
Epoch 87/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 588us/step - loss: 100266.0000 - mae: 100266.0000 - val_loss: 98160.6562 - val_mae: 98160.6562
Epoch 88/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 587us/step - loss: 99703.9766 - mae: 99703.9766 - val_loss: 98153.9297 - val_mae: 98153.9297
Epoch 89/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 585us/step - loss: 100019.2656 - mae: 100019.2656 - val_loss: 98147.2344 - val_mae: 98147.2344
Epoch 90/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 611us/step - loss: 99022.9219 - mae: 99022.9219 - val_loss: 98140.5469 - val_mae: 98140.5469
Epoch 91/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - loss: 101056.0312 - mae: 101056.0312 - val_loss: 98133.8438 - val_mae: 98133.8438
Epoch 92/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 601us/step - loss: 99807.5234 - mae: 99807.5234 - val_loss: 98127.1406 - val_mae: 98127.1406
Epoch 93/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 609us/step - loss: 100282.9141 - mae: 100282.9141 - val_loss: 98119.6328 - val_mae: 98119.6328
Epoch 94/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - loss: 100253.8750 - mae: 100253.8750 - val_loss: 98112.3828 - val_mae: 98112.3828
Epoch 95/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 590us/step - loss: 101059.1641 - mae: 101059.1641 - val_loss: 98104.4922 - val_mae: 98104.4922
Epoch 96/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 636us/step - loss: 100464.3125 - mae: 100464.3125 - val_loss: 98096.7812 - val_mae: 98096.7812
Epoch 97/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 606us/step - loss: 99670.5703 - mae: 99670.5703 - val_loss: 98089.3438 - val_mae: 98089.3438
Epoch 98/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 581us/step - loss: 99953.6875 - mae: 99953.6875 - val_loss: 98082.0078 - val_mae: 98082.0078
Epoch 99/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 577us/step - loss: 100420.4453 - mae: 100420.4453 - val_loss: 98074.7109 - val_mae: 98074.7109
Epoch 100/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - loss: 99780.3203 - mae: 99780.3203 - val_loss: 98067.4609 - val_mae: 98067.4609

In [18]:
%load_ext tensorboard

In [19]:
%tensorboard --logdir regression/logs/fit

In [20]:
model.save("regression_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.