In [46]:
import pandas as pd
#train_test_split is a function from the sklearn.model_selection module in Scikit-learn. It is used to split a dataset into two (or more) subsets: training data and testing data.
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [47]:
## Load the dataset
data=pd.read_csv("Churn_Modelling.csv")
data.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [48]:
## Preprocess the data
### Drop irrelevant columns
###We are going to take this credit score, geography, gender, age, tenure, balance, number of product
#Axis is equal to one basically means column wise. So we are dropping the columns RowNumber, CustomerId, Surname
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [49]:
## Encode categorical variables
#Label Encoding is a technique used in machine learning to convert categorical data (like text or labels) into numerical format.
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data
# #label_encoder_gender.fit_transform(data['Gender'])
# 	•	The fit_transform method does two things:
# 	1.	fit: Learns the unique categories in data['Gender'] and assigns a number to each.
# 	•	For example, ["Male", "Female", "Other"] are identified as unique categories.
# 	2.	transform: Replaces each category with its corresponding number.
# 	•	For ["Male", "Female", "Male", "Other"], it produces [1, 0, 1, 2].

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [50]:
## Onehot encode 'Geography
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [51]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [52]:
geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [53]:
## Combine one hot encoder columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [54]:
# Save the encoders and sscaler
# Pickle is used in Python to save and load complex objects like machine learning models, 
# dictionaries, or nested data structures, preserving their exact structure and details 
# for later use. Unlike CSV, which is limited to simple tabular data (text and numbers), 
# Pickle handles Python-specific objects efficiently by serializing them into a binary format.
#  It’s ideal for reusing trained models, avoiding repetitive computations, and sharing objects within 
# Python projects. Use Pickle for Python objects and CSV for plain, human-readable tabular data.
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [55]:
data.tail()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [56]:
## DiVide the dataset into indepent and dependent features
#So I will just try to go ahead and divide my data set into independent and dependent features.
X=data.drop('Exited',axis=1)
y=data['Exited']

## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [57]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [58]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [59]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

Here you have label encoder pickle.
You have one hot encoder pickle.
We have scalar pickle.
This is perfect.

### ANN Implementation

We are going to use tenserflow and the sequential model.

In [60]:
import tensorflow as tf
from tensorflow.keras.models import Sequential # type: ignore
from tensorflow.keras.layers import Dense# type: ignore
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard # type: ignore
import datetime

In [61]:
#This will give us the inputs column required for the input_shape 
# parameter in the first layer of the neural network.
(X_train.shape[1],) # type: ignore

(12,)

In [74]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 Connected wwith input layer
    Dense(32,activation='sigmoid'), ## HL2
    Dense(1,activation='sigmoid')  ## output layer
]

)

In [75]:
model.summary()

Model: "sequential_5"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_15 (Dense)                │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_16 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_17 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [76]:
# These two components (optimizer and loss function) are crucial for training a deep learning model:
# 	•	Optimizer adjusts the model weights based on the gradients calculated during backpropagation.
# 	•	Loss Function guides the optimizer by quantifying how far off the model’s predictions are from the ground truth.

import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [77]:
## compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [78]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard # type: ignore
log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [79]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=100,restore_best_weights=True)

In [80]:
### Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=200,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 885us/step - accuracy: 0.7883 - loss: 0.4634 - val_accuracy: 0.8585 - val_loss: 0.3507
Epoch 2/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 636us/step - accuracy: 0.8556 - loss: 0.3558 - val_accuracy: 0.8535 - val_loss: 0.3599
Epoch 3/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 622us/step - accuracy: 0.8550 - loss: 0.3537 - val_accuracy: 0.8570 - val_loss: 0.3458
Epoch 4/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 646us/step - accuracy: 0.8606 - loss: 0.3361 - val_accuracy: 0.8620 - val_loss: 0.3506
Epoch 5/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 656us/step - accuracy: 0.8581 - loss: 0.3431 - val_accuracy: 0.8610 - val_loss: 0.3393
Epoch 6/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 651us/step - accuracy: 0.8676 - loss: 0.3300 - val_accuracy: 0.8615 - val_loss: 0.3427
Epoch 7/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 733us/step - accuracy: 0.8632 - loss: 0.3270 - val_accuracy: 0.8595 - val_loss: 0.3466
Epoch 8/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 611us/step - accuracy: 0.8600 - loss: 0.3364 - val_accuracy: 0.8605 - val_loss: 0.3393
Epoch 9/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 613us/step - accuracy: 0.8612 - loss: 0.3316 - val_accuracy: 0.8545 - val_loss: 0.3495
Epoch 10/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 620us/step - accuracy: 0.8710 - loss: 0.3191 - val_accuracy: 0.8625 - val_loss: 0.3426
Epoch 11/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 617us/step - accuracy: 0.8697 - loss: 0.3231 - val_accuracy: 0.8575 - val_loss: 0.3436
Epoch 12/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 613us/step - accuracy: 0.8730 - loss: 0.3164 - val_accuracy: 0.8605 - val_loss: 0.3429
Epoch 13/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - accuracy: 0.8650 - loss: 0.3200 - val_accuracy: 0.8625 - val_loss: 0.3456
Epoch 14/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 613us/step - accuracy: 0.8718 - loss: 0.3131 - val_accuracy: 0.8630 - val_loss: 0.3487
Epoch 15/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - accuracy: 0.8799 - loss: 0.2985 - val_accuracy: 0.8640 - val_loss: 0.3411
Epoch 16/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 619us/step - accuracy: 0.8766 - loss: 0.3049 - val_accuracy: 0.8540 - val_loss: 0.3526
Epoch 17/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 628us/step - accuracy: 0.8791 - loss: 0.3012 - val_accuracy: 0.8620 - val_loss: 0.3525
Epoch 18/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - accuracy: 0.8727 - loss: 0.3013 - val_accuracy: 0.8555 - val_loss: 0.3509
Epoch 19/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.8764 - loss: 0.2978 - val_accuracy: 0.8560 - val_loss: 0.3566
Epoch 20/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.8752 - loss: 0.2986 - val_accuracy: 0.8610 - val_loss: 0.3502
Epoch 21/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.8847 - loss: 0.2840 - val_accuracy: 0.8545 - val_loss: 0.3642
Epoch 22/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 592us/step - accuracy: 0.8869 - loss: 0.2816 - val_accuracy: 0.8610 - val_loss: 0.3608
Epoch 23/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 614us/step - accuracy: 0.8876 - loss: 0.2779 - val_accuracy: 0.8610 - val_loss: 0.3714
Epoch 24/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.8749 - loss: 0.2907 - val_accuracy: 0.8615 - val_loss: 0.3678
Epoch 25/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.8881 - loss: 0.2759 - val_accuracy: 0.8530 - val_loss: 0.3711
Epoch 26/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - accuracy: 0.8922 - loss: 0.2634 - val_accuracy: 0.8570 - val_loss: 0.3694
Epoch 27/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.8895 - loss: 0.2735 - val_accuracy: 0.8580 - val_loss: 0.3767
Epoch 28/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - accuracy: 0.8815 - loss: 0.2786 - val_accuracy: 0.8605 - val_loss: 0.3834
Epoch 29/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - accuracy: 0.8977 - loss: 0.2518 - val_accuracy: 0.8580 - val_loss: 0.3792
Epoch 30/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 631us/step - accuracy: 0.8932 - loss: 0.2629 - val_accuracy: 0.8515 - val_loss: 0.3977
Epoch 31/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.8887 - loss: 0.2619 - val_accuracy: 0.8510 - val_loss: 0.3933
Epoch 32/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.8880 - loss: 0.2649 - val_accuracy: 0.8550 - val_loss: 0.4011
Epoch 33/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - accuracy: 0.8948 - loss: 0.2557 - val_accuracy: 0.8635 - val_loss: 0.4011
Epoch 34/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.8982 - loss: 0.2507 - val_accuracy: 0.8610 - val_loss: 0.4023
Epoch 35/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.8938 - loss: 0.2487 - val_accuracy: 0.8540 - val_loss: 0.4090
Epoch 36/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 603us/step - accuracy: 0.8956 - loss: 0.2518 - val_accuracy: 0.8460 - val_loss: 0.4216
Epoch 37/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.9019 - loss: 0.2408 - val_accuracy: 0.8425 - val_loss: 0.4206
Epoch 38/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - accuracy: 0.8997 - loss: 0.2351 - val_accuracy: 0.8535 - val_loss: 0.4294
Epoch 39/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.8966 - loss: 0.2466 - val_accuracy: 0.8540 - val_loss: 0.4306
Epoch 40/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.9005 - loss: 0.2371 - val_accuracy: 0.8520 - val_loss: 0.4383
Epoch 41/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.8987 - loss: 0.2358 - val_accuracy: 0.8525 - val_loss: 0.4387
Epoch 42/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 625us/step - accuracy: 0.9033 - loss: 0.2371 - val_accuracy: 0.8445 - val_loss: 0.4369
Epoch 43/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - accuracy: 0.9013 - loss: 0.2328 - val_accuracy: 0.8530 - val_loss: 0.4373
Epoch 44/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - accuracy: 0.9044 - loss: 0.2301 - val_accuracy: 0.8465 - val_loss: 0.4464
Epoch 45/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 609us/step - accuracy: 0.9031 - loss: 0.2282 - val_accuracy: 0.8465 - val_loss: 0.4591
Epoch 46/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - accuracy: 0.9123 - loss: 0.2242 - val_accuracy: 0.8400 - val_loss: 0.4508
Epoch 47/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.9095 - loss: 0.2204 - val_accuracy: 0.8480 - val_loss: 0.4421
Epoch 48/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - accuracy: 0.9116 - loss: 0.2093 - val_accuracy: 0.8360 - val_loss: 0.4736
Epoch 49/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 646us/step - accuracy: 0.9128 - loss: 0.2173 - val_accuracy: 0.8345 - val_loss: 0.4689
Epoch 50/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 606us/step - accuracy: 0.9142 - loss: 0.2139 - val_accuracy: 0.8430 - val_loss: 0.4861
Epoch 51/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - accuracy: 0.9091 - loss: 0.2178 - val_accuracy: 0.8430 - val_loss: 0.4750
Epoch 52/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 713us/step - accuracy: 0.9135 - loss: 0.2166 - val_accuracy: 0.8325 - val_loss: 0.4780
Epoch 53/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 628us/step - accuracy: 0.9142 - loss: 0.2039 - val_accuracy: 0.8445 - val_loss: 0.4681
Epoch 54/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - accuracy: 0.9120 - loss: 0.2045 - val_accuracy: 0.8330 - val_loss: 0.4882
Epoch 55/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 605us/step - accuracy: 0.9101 - loss: 0.2124 - val_accuracy: 0.8465 - val_loss: 0.4742
Epoch 56/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.9115 - loss: 0.2087 - val_accuracy: 0.8440 - val_loss: 0.4707
Epoch 57/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 607us/step - accuracy: 0.9182 - loss: 0.1973 - val_accuracy: 0.8395 - val_loss: 0.4858
Epoch 58/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 610us/step - accuracy: 0.9193 - loss: 0.2067 - val_accuracy: 0.8435 - val_loss: 0.4820
Epoch 59/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - accuracy: 0.9111 - loss: 0.2159 - val_accuracy: 0.8450 - val_loss: 0.4922
Epoch 60/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - accuracy: 0.9136 - loss: 0.2174 - val_accuracy: 0.8380 - val_loss: 0.4814
Epoch 61/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - accuracy: 0.9100 - loss: 0.2097 - val_accuracy: 0.8345 - val_loss: 0.5021
Epoch 62/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.9152 - loss: 0.1998 - val_accuracy: 0.8400 - val_loss: 0.4943
Epoch 63/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 631us/step - accuracy: 0.9202 - loss: 0.2080 - val_accuracy: 0.8380 - val_loss: 0.4941
Epoch 64/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 601us/step - accuracy: 0.9189 - loss: 0.1941 - val_accuracy: 0.8295 - val_loss: 0.5230
Epoch 65/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - accuracy: 0.9100 - loss: 0.2098 - val_accuracy: 0.8415 - val_loss: 0.5277
Epoch 66/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 607us/step - accuracy: 0.9189 - loss: 0.1990 - val_accuracy: 0.8360 - val_loss: 0.5344
Epoch 67/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.9167 - loss: 0.2003 - val_accuracy: 0.8405 - val_loss: 0.5352
Epoch 68/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.9153 - loss: 0.1923 - val_accuracy: 0.8390 - val_loss: 0.5108
Epoch 69/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.9247 - loss: 0.1868 - val_accuracy: 0.8445 - val_loss: 0.4999
Epoch 70/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - accuracy: 0.9240 - loss: 0.1920 - val_accuracy: 0.8380 - val_loss: 0.5351
Epoch 71/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - accuracy: 0.9189 - loss: 0.1983 - val_accuracy: 0.8390 - val_loss: 0.5179
Epoch 72/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - accuracy: 0.9178 - loss: 0.2009 - val_accuracy: 0.8495 - val_loss: 0.5231
Epoch 73/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - accuracy: 0.9194 - loss: 0.1981 - val_accuracy: 0.8270 - val_loss: 0.5389
Epoch 74/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 606us/step - accuracy: 0.9228 - loss: 0.1883 - val_accuracy: 0.8410 - val_loss: 0.5254
Epoch 75/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 624us/step - accuracy: 0.9146 - loss: 0.2017 - val_accuracy: 0.8380 - val_loss: 0.5423
Epoch 76/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - accuracy: 0.9225 - loss: 0.1866 - val_accuracy: 0.8365 - val_loss: 0.5316
Epoch 77/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.9131 - loss: 0.2004 - val_accuracy: 0.8385 - val_loss: 0.5431
Epoch 78/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - accuracy: 0.9257 - loss: 0.1806 - val_accuracy: 0.8420 - val_loss: 0.5487
Epoch 79/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.9195 - loss: 0.1910 - val_accuracy: 0.8310 - val_loss: 0.5540
Epoch 80/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 607us/step - accuracy: 0.9238 - loss: 0.1903 - val_accuracy: 0.8285 - val_loss: 0.5579
Epoch 81/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - accuracy: 0.9301 - loss: 0.1775 - val_accuracy: 0.8340 - val_loss: 0.5370
Epoch 82/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 719us/step - accuracy: 0.9214 - loss: 0.1835 - val_accuracy: 0.8265 - val_loss: 0.5510
Epoch 83/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.9231 - loss: 0.1857 - val_accuracy: 0.8360 - val_loss: 0.5667
Epoch 84/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.9231 - loss: 0.1898 - val_accuracy: 0.8390 - val_loss: 0.5545
Epoch 85/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 626us/step - accuracy: 0.9303 - loss: 0.1707 - val_accuracy: 0.8255 - val_loss: 0.5599
Epoch 86/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.9286 - loss: 0.1806 - val_accuracy: 0.8250 - val_loss: 0.5544
Epoch 87/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.9291 - loss: 0.1849 - val_accuracy: 0.8290 - val_loss: 0.5477
Epoch 88/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 609us/step - accuracy: 0.9272 - loss: 0.1834 - val_accuracy: 0.8265 - val_loss: 0.5529
Epoch 89/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 615us/step - accuracy: 0.9309 - loss: 0.1710 - val_accuracy: 0.8265 - val_loss: 0.5634
Epoch 90/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.9273 - loss: 0.1849 - val_accuracy: 0.8310 - val_loss: 0.5696
Epoch 91/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - accuracy: 0.9308 - loss: 0.1726 - val_accuracy: 0.8240 - val_loss: 0.5748
Epoch 92/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - accuracy: 0.9240 - loss: 0.1890 - val_accuracy: 0.8305 - val_loss: 0.5769
Epoch 93/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - accuracy: 0.9269 - loss: 0.1812 - val_accuracy: 0.8205 - val_loss: 0.5819
Epoch 94/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.9309 - loss: 0.1719 - val_accuracy: 0.8315 - val_loss: 0.5841
Epoch 95/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.9248 - loss: 0.1831 - val_accuracy: 0.8300 - val_loss: 0.5882
Epoch 96/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 622us/step - accuracy: 0.9301 - loss: 0.1708 - val_accuracy: 0.8355 - val_loss: 0.5644
Epoch 97/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - accuracy: 0.9280 - loss: 0.1757 - val_accuracy: 0.8285 - val_loss: 0.5900
Epoch 98/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.9250 - loss: 0.1809 - val_accuracy: 0.8240 - val_loss: 0.5759
Epoch 99/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 592us/step - accuracy: 0.9314 - loss: 0.1700 - val_accuracy: 0.8210 - val_loss: 0.5781
Epoch 100/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.9250 - loss: 0.1818 - val_accuracy: 0.8135 - val_loss: 0.6140
Epoch 101/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 606us/step - accuracy: 0.9261 - loss: 0.1826 - val_accuracy: 0.8325 - val_loss: 0.5893
Epoch 102/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 609us/step - accuracy: 0.9280 - loss: 0.1782 - val_accuracy: 0.8220 - val_loss: 0.5977
Epoch 103/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - accuracy: 0.9341 - loss: 0.1665 - val_accuracy: 0.8310 - val_loss: 0.5942
Epoch 104/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.9312 - loss: 0.1700 - val_accuracy: 0.8280 - val_loss: 0.6053
Epoch 105/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - accuracy: 0.9305 - loss: 0.1729 - val_accuracy: 0.8230 - val_loss: 0.6109
Epoch 106/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - accuracy: 0.9247 - loss: 0.1879 - val_accuracy: 0.8280 - val_loss: 0.5827
Epoch 107/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 626us/step - accuracy: 0.9307 - loss: 0.1735 - val_accuracy: 0.8200 - val_loss: 0.5767
Epoch 108/200
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.9306 - loss: 0.1659 - val_accuracy: 0.8220 - val_loss: 0.6006

In [81]:
#Compatible with keras so we are using h5 format
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [83]:
## Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [84]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 11375), started 0:14:23 ago. (Use '!kill 11375' to kill it.)

In [72]:
### Load the pickle file